################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet6WebApi/.vs
/DotNet6WebApi/Readxml/obj
/WebApi/.vs/WebApi
/WebApi/WebApi/obj
/websocket/websocket/obj
/websocket/.vs
/dotnet-react-web-socket/service/.vs
/dotnet-react-web-socket/service/FactoryControl/bin/Debug/netcoreapp3.1
/dotnet-react-web-socket/service/FactoryControl/obj
/websocket/websocket/bin/Debug/net8.0
